html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}
.body {
    background-color: rgb(240, 240, 240);
    color: rgb(6, 5, 5);
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    max-width: 1000px;
    text-align: center;
    margin: auto;
    outline: 2px solid rgb(3, 3, 3);
    padding:10px;
}
.header {
    background-color:#746f6f;
    text-align: center;
    padding: 20px;
    font-family:'Inter Tight', sans-serif;
    text-shadow: 1px 2px 3px rgb(208 208 208);
}
.image {
    max-width: 250px;
    border: 2px solid rgb(135, 132, 132);
    border-radius: 25%;
    box-shadow: 5px 5px 18px 0px #3D3933;  
    margin-top: 5%;  
}
.textSection {
    border:5px double rgb(3, 3, 3);
    background-color: hsl(0, 1%, 70%);
    padding: 5%;
    margin-top: 20%;
    margin-bottom: 20%;
}
.button {
    padding: 4px;
    margin-bottom: 5%;
    border: 2px solid rgb(73, 69, 69);
    background-color: azure;
}
.dark {
    background-color: rgb(80, 79, 79);
}