.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    overflow: auto;
}
.table__header {
    background-color:#757070;
    color: white;
    border: 2px solid rgb(3, 3, 3);
    padding: 20px;
}
.table__caption {
    background-color:#746f6f;
    border: 1px solid rgb(3, 3, 3);
    font-weight: 700;
    color: white;
}
.table__row {
    background-color:hsl(0, 0%, 100%)
}
.table__row:hover {
    background-color: hsl(0, 1%, 90%);
}
.table__cell {
    border: 2px solid rgb(3, 3, 3);
    padding: 20px;
}

